Repository atwolin/ShuxinFortune: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && poetry run pyright'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format && npm run format:check'
  language: system
  pass_filenames: false

fix: Sync CI env vars with local dev settings
  .github/workflows/cicd.yml
Due: none

style: adjust drawing box vertical position and width
  frontend/index.html
Due: prettier

fix: 修正 FortuneAdmin 的可編輯欄位設定
  backend/lottery/admin.py
Due: pyright

fix: comment out HTTPS block before obtaining SSL certificate
  frontend/nginx-prod.conf
Due: none

fix: re-enable HTTPS server block after obtaining SSL certificate
  frontend/nginx-prod.conf
Due: none

Path conditions:
  pyright: any of: ^backend/ and \.py$
  prettier: any of: ^frontend/ and \.(html|htm|xhtml)$, \.css$, \.(js|mjs|cjs)$
